</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% var date = new Date(); %>
  <% var year = date.getYear() + 1900 %>
  <p>Copyright © <%= year %></p>
</footer>
</body>

</html>